# Experiments

In [32]:
print('hello')

hello

In [129]:
import pandas as pd 

df = pd.read_excel('../DeliveryData/logistics_data.xlsx')
df.head(3)

,GpsProvider,BookingID,Market/Regular,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,...,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo,customerID,customerNameCode,supplierID,supplierNameCode,Material Shipped
0,CONSENT TRACK,MVCV0000927/082021,Market,2020-08-17 14:59:01.000,KA590408,"TVSLSL-PUZHAL-HUB,CHENNAI,TAMIL NADU","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA","13.1550,80.1960","12.7400,77.8200",2020-08-24 00:05:09,...,320.0,32 FT Single-Axle 7MT - HCV,NaN,NaN,NaN,ALLEXCHE45,Ashok leyland limited,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,VAMOSYS,VCV00014271/082021,Regular,2020-08-27 16:22:22.827,TN30BC5917,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:28,...,103.0,32 FT Multi-Axle 14MT - HCV,NaN,RAMESH,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,CONSENT TRACK,VCV00014382/082021,Regular,2020-08-27 17:59:24.987,TN22AR2748,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8710,79.7390","11.8710,79.7390",2020-08-28 09:05:09,...,300.0,1 MT Tata Ace (Open Body),NaN,GIRI,NaN,LUTGCCHE06,Lucas tvs ltd,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO

In [130]:
df.columns

Index(['GpsProvider', 'BookingID', 'Market/Regular ', 'BookingID_Date',
       'vehicle_no', 'Origin_Location', 'Destination_Location', 'Org_lat_lon',
       'Des_lat_lon', 'Data_Ping_time', 'Planned_ETA', 'Current_Location',
       'DestinationLocation', 'actual_eta', 'Curr_lat', 'Curr_lon', 'ontime',
       'delay', 'OriginLocation_Code', 'DestinationLocation_Code',
       'trip_start_date', 'trip_end_date', 'TRANSPORTATION_DISTANCE_IN_KM',
       'vehicleType', 'Minimum_kms_to_be_covered_in_a_day', 'Driver_Name',
       'Driver_MobileNo', 'customerID', 'customerNameCode', 'supplierID',
       'supplierNameCode', 'Material Shipped'],
      dtype='object')

In [131]:
df.columns = df.columns.str.strip()

In [132]:
df.isnull().sum()

GpsProvider                            953
BookingID                                0
Market/Regular                           0
BookingID_Date                           0
vehicle_no                               0
Origin_Location                          0
Destination_Location                     0
Org_lat_lon                              0
Des_lat_lon                              0
Data_Ping_time                         953
Planned_ETA                              0
Current_Location                       964
DestinationLocation                      0
actual_eta                              37
Curr_lat                               953
Curr_lon                               953
ontime                                4332
delay                                 2538
OriginLocation_Code                      3
DestinationLocation_Code                27
trip_start_date                          0
trip_end_date                          194
TRANSPORTATION_DISTANCE_IN_KM          712
vehicleType                            769
Minimum_kms_to_be_covered_in_a_day    4060
Driver_Name                           3429
Driver_MobileNo                       4189
customerID                               0
customerNameCode                         0
supplierID                               0
supplierNameCode                         0
Material Shipped                         0
dtype: int64

In [133]:

df=df.drop(['GpsProvider', 'BookingID', 'vehicle_no', 'Origin_Location', 'Destination_Location', 'Data_Ping_time', 'Planned_ETA', 'Curr_lat', 'Curr_lon', 'OriginLocation_Code', 'DestinationLocation_Code', 'Minimum_kms_to_be_covered_in_a_day', 'Driver_Name', 'Driver_MobileNo', 'customerID', 'customerNameCode', 'supplierID', 'supplierNameCode'], axis=1)

In [134]:
df.isnull().sum()

Market/Regular                      0
BookingID_Date                      0
Org_lat_lon                         0
Des_lat_lon                         0
Current_Location                  964
DestinationLocation                 0
actual_eta                         37
ontime                           4332
delay                            2538
trip_start_date                     0
trip_end_date                     194
TRANSPORTATION_DISTANCE_IN_KM     712
vehicleType                       769
Material Shipped                    0
dtype: int64

In [135]:
df.head(10)

,Market/Regular,BookingID_Date,Org_lat_lon,Des_lat_lon,Current_Location,DestinationLocation,actual_eta,ontime,delay,trip_start_date,trip_end_date,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Material Shipped
0,Market,2020-08-17 14:59:01.000,"13.1550,80.1960","12.7400,77.8200","Vaniyambadi Rd, Valayambattu, Tamil Nadu 63575...","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA",2020-08-28 14:38:04.447000,NaN,R,2020-08-17 14:59:01,NaN,320.0,32 FT Single-Axle 7MT - HCV,BRACKET / GRAB HANDLE
1,Regular,2020-08-27 16:22:22.827,"12.8390,79.9540","12.8390,79.9540","Unnamed Road, Oragadam Industrial Corridor, Va...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...",2020-08-28 12:46:17.007000,G,NaN,2020-08-27 16:21:52,NaN,103.0,32 FT Multi-Axle 14MT - HCV,ZB MODEL PLATE / 3143
2,Regular,2020-08-27 17:59:24.987,"11.8710,79.7390","11.8710,79.7390","570, National Hwy 48, Shenoy Nagar, Chennai, T...","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY",2020-08-28 16:03:30.793000,G,NaN,2020-08-27 17:57:04,NaN,300.0,1 MT Tata Ace (Open Body),LETTERING / FUSO
3,Regular,2020-08-28 00:48:24.503,"12.8390,79.9540","12.8390,79.9540","Singaperumal Koil - Sriperumbudur Rd, Oragadam...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...",2020-08-28 12:50:27.997000,G,NaN,2020-08-28 00:47:45,NaN,61.0,32 FT Multi-Axle 14MT - HCV,LU STRUT RA / RADIUS ROD
4,Regular,2020-08-28 01:23:19.243,"11.8720,79.6320","11.8720,79.6320","Melmaruvathur, Tamil Nadu 603319, India","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY",2020-08-28 14:22:50.127000,G,NaN,2020-08-28 01:13:48,NaN,240.0,32 FT Multi-Axle 14MT - HCV,WISHBONE / V ROD/HDT
5,Regular,2020-08-28 02:14:22.640,"12.8390,79.9540","12.8390,79.9540","Ind.park Road, Nayapakkam, Tamil Nadu 602105, ...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...",2020-08-28 13:25:50.353000,G,NaN,2020-08-28 02:13:39,NaN,70.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK
6,Regular,2020-08-28 02:20:27.530,"12.8390,79.9540","12.8390,79.9540","Rettai Kovil Bus Stop, 64, Salem - Ulundurpett...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...",2020-08-28 17:38:13.480000,G,NaN,2020-08-28 02:19:47,NaN,931.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK
7,Regular,2020-08-28 09:22:31.377,"12.8390,79.9540","12.8390,79.9540","Singaperumal Koil - Sriperumbudur Rd, Oragadam...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...",2020-08-28 12:49:03.727000,G,NaN,2020-08-28 09:21:56,NaN,20.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK
8,Market,2020-08-28 09:38:30.000,"13.2150,80.3200","12.7660,77.7860","Mumbai Hwy, Komeswaram, Tamil Nadu 635802, India","ASHOK LEYLAND PLANT 2-HOSUR,HOSUR,KARNATAKA",2020-08-28 15:00:19.080000,G,NaN,2020-08-28 09:38:30,NaN,310.0,24 FT SXL Container,MOUNTING BRACKET / FUEL TANK
9,Regular,2020-08-27 22:27:54.427,"12.8390,79.9540","12.8390,79.9540","Unnamed Road, Oragadam Industrial Corridor, Va...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...",2020-08-28 12:46:20.717000,G,NaN,2020-08-27 22:27:14,NaN,103.0,32 FT Multi-Axle MXL 18MT,MOUNTING BRACKET / FUEL TANK

In [136]:
df=df.drop(['DestinationLocation', 'Current_Location', 'trip_end_date'], axis=1)

In [137]:
df.head(10)

,Market/Regular,BookingID_Date,Org_lat_lon,Des_lat_lon,actual_eta,ontime,delay,trip_start_date,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Material Shipped
0,Market,2020-08-17 14:59:01.000,"13.1550,80.1960","12.7400,77.8200",2020-08-28 14:38:04.447000,NaN,R,2020-08-17 14:59:01,320.0,32 FT Single-Axle 7MT - HCV,BRACKET / GRAB HANDLE
1,Regular,2020-08-27 16:22:22.827,"12.8390,79.9540","12.8390,79.9540",2020-08-28 12:46:17.007000,G,NaN,2020-08-27 16:21:52,103.0,32 FT Multi-Axle 14MT - HCV,ZB MODEL PLATE / 3143
2,Regular,2020-08-27 17:59:24.987,"11.8710,79.7390","11.8710,79.7390",2020-08-28 16:03:30.793000,G,NaN,2020-08-27 17:57:04,300.0,1 MT Tata Ace (Open Body),LETTERING / FUSO
3,Regular,2020-08-28 00:48:24.503,"12.8390,79.9540","12.8390,79.9540",2020-08-28 12:50:27.997000,G,NaN,2020-08-28 00:47:45,61.0,32 FT Multi-Axle 14MT - HCV,LU STRUT RA / RADIUS ROD
4,Regular,2020-08-28 01:23:19.243,"11.8720,79.6320","11.8720,79.6320",2020-08-28 14:22:50.127000,G,NaN,2020-08-28 01:13:48,240.0,32 FT Multi-Axle 14MT - HCV,WISHBONE / V ROD/HDT
5,Regular,2020-08-28 02:14:22.640,"12.8390,79.9540","12.8390,79.9540",2020-08-28 13:25:50.353000,G,NaN,2020-08-28 02:13:39,70.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK
6,Regular,2020-08-28 02:20:27.530,"12.8390,79.9540","12.8390,79.9540",2020-08-28 17:38:13.480000,G,NaN,2020-08-28 02:19:47,931.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK
7,Regular,2020-08-28 09:22:31.377,"12.8390,79.9540","12.8390,79.9540",2020-08-28 12:49:03.727000,G,NaN,2020-08-28 09:21:56,20.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK
8,Market,2020-08-28 09:38:30.000,"13.2150,80.3200","12.7660,77.7860",2020-08-28 15:00:19.080000,G,NaN,2020-08-28 09:38:30,310.0,24 FT SXL Container,MOUNTING BRACKET / FUEL TANK
9,Regular,2020-08-27 22:27:54.427,"12.8390,79.9540","12.8390,79.9540",2020-08-28 12:46:20.717000,G,NaN,2020-08-27 22:27:14,103.0,32 FT Multi-Axle MXL 18MT,MOUNTING BRACKET / FUEL TANK

In [138]:
df.isnull().sum()

Market/Regular                      0
BookingID_Date                      0
Org_lat_lon                         0
Des_lat_lon                         0
actual_eta                         37
ontime                           4332
delay                            2538
trip_start_date                     0
TRANSPORTATION_DISTANCE_IN_KM     712
vehicleType                       769
Material Shipped                    0
dtype: int64

In [139]:
import numpy as np
def convert_nan(df):
  df.replace('NaN', float(np.nan), regex=True, inplace=True)

convert_nan(df)

In [140]:
df = df.dropna(subset=['actual_eta'])

In [141]:
df.isnull().sum()

Market/Regular                      0
BookingID_Date                      0
Org_lat_lon                         0
Des_lat_lon                         0
actual_eta                          0
ontime                           4304
delay                            2515
trip_start_date                     0
TRANSPORTATION_DISTANCE_IN_KM     708
vehicleType                       769
Material Shipped                    0
dtype: int64

In [142]:


df['actual_eta'] = pd.to_datetime(df['actual_eta'])
df['trip_start_date']= pd.to_datetime(df['trip_start_date'])

df['trip_duration'] = (df['actual_eta'] - df['trip_start_date']).dt.total_seconds()/60

In [143]:
df=df.drop(['actual_eta', 'trip_start_date'], axis=1)
df.head(10)

,Market/Regular,BookingID_Date,Org_lat_lon,Des_lat_lon,ontime,delay,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Material Shipped,trip_duration
0,Market,2020-08-17 14:59:01.000,"13.1550,80.1960","12.7400,77.8200",NaN,R,320.0,32 FT Single-Axle 7MT - HCV,BRACKET / GRAB HANDLE,15819.057450
1,Regular,2020-08-27 16:22:22.827,"12.8390,79.9540","12.8390,79.9540",G,NaN,103.0,32 FT Multi-Axle 14MT - HCV,ZB MODEL PLATE / 3143,1224.416783
2,Regular,2020-08-27 17:59:24.987,"11.8710,79.7390","11.8710,79.7390",G,NaN,300.0,1 MT Tata Ace (Open Body),LETTERING / FUSO,1326.446550
3,Regular,2020-08-28 00:48:24.503,"12.8390,79.9540","12.8390,79.9540",G,NaN,61.0,32 FT Multi-Axle 14MT - HCV,LU STRUT RA / RADIUS ROD,722.716617
4,Regular,2020-08-28 01:23:19.243,"11.8720,79.6320","11.8720,79.6320",G,NaN,240.0,32 FT Multi-Axle 14MT - HCV,WISHBONE / V ROD/HDT,789.035450
5,Regular,2020-08-28 02:14:22.640,"12.8390,79.9540","12.8390,79.9540",G,NaN,70.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,672.189217
6,Regular,2020-08-28 02:20:27.530,"12.8390,79.9540","12.8390,79.9540",G,NaN,931.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,918.441333
7,Regular,2020-08-28 09:22:31.377,"12.8390,79.9540","12.8390,79.9540",G,NaN,20.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,207.128783
8,Market,2020-08-28 09:38:30.000,"13.2150,80.3200","12.7660,77.7860",G,NaN,310.0,24 FT SXL Container,MOUNTING BRACKET / FUEL TANK,321.818000
9,Regular,2020-08-27 22:27:54.427,"12.8390,79.9540","12.8390,79.9540",G,NaN,103.0,32 FT Multi-Axle MXL 18MT,MOUNTING BRACKET / FUEL TANK,859.111950

In [144]:
df=df.drop('BookingID_Date', axis=1)

In [145]:
df.head(10)

,Market/Regular,Org_lat_lon,Des_lat_lon,ontime,delay,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Material Shipped,trip_duration
0,Market,"13.1550,80.1960","12.7400,77.8200",NaN,R,320.0,32 FT Single-Axle 7MT - HCV,BRACKET / GRAB HANDLE,15819.057450
1,Regular,"12.8390,79.9540","12.8390,79.9540",G,NaN,103.0,32 FT Multi-Axle 14MT - HCV,ZB MODEL PLATE / 3143,1224.416783
2,Regular,"11.8710,79.7390","11.8710,79.7390",G,NaN,300.0,1 MT Tata Ace (Open Body),LETTERING / FUSO,1326.446550
3,Regular,"12.8390,79.9540","12.8390,79.9540",G,NaN,61.0,32 FT Multi-Axle 14MT - HCV,LU STRUT RA / RADIUS ROD,722.716617
4,Regular,"11.8720,79.6320","11.8720,79.6320",G,NaN,240.0,32 FT Multi-Axle 14MT - HCV,WISHBONE / V ROD/HDT,789.035450
5,Regular,"12.8390,79.9540","12.8390,79.9540",G,NaN,70.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,672.189217
6,Regular,"12.8390,79.9540","12.8390,79.9540",G,NaN,931.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,918.441333
7,Regular,"12.8390,79.9540","12.8390,79.9540",G,NaN,20.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,207.128783
8,Market,"13.2150,80.3200","12.7660,77.7860",G,NaN,310.0,24 FT SXL Container,MOUNTING BRACKET / FUEL TANK,321.818000
9,Regular,"12.8390,79.9540","12.8390,79.9540",G,NaN,103.0,32 FT Multi-Axle MXL 18MT,MOUNTING BRACKET / FUEL TANK,859.111950

In [146]:
df.columns

Index(['Market/Regular', 'Org_lat_lon', 'Des_lat_lon', 'ontime', 'delay',
       'TRANSPORTATION_DISTANCE_IN_KM', 'vehicleType', 'Material Shipped',
       'trip_duration'],
      dtype='object')

In [147]:
df=df.drop(['ontime', 'delay'], axis=1)
df.head(10)

,Market/Regular,Org_lat_lon,Des_lat_lon,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Material Shipped,trip_duration
0,Market,"13.1550,80.1960","12.7400,77.8200",320.0,32 FT Single-Axle 7MT - HCV,BRACKET / GRAB HANDLE,15819.057450
1,Regular,"12.8390,79.9540","12.8390,79.9540",103.0,32 FT Multi-Axle 14MT - HCV,ZB MODEL PLATE / 3143,1224.416783
2,Regular,"11.8710,79.7390","11.8710,79.7390",300.0,1 MT Tata Ace (Open Body),LETTERING / FUSO,1326.446550
3,Regular,"12.8390,79.9540","12.8390,79.9540",61.0,32 FT Multi-Axle 14MT - HCV,LU STRUT RA / RADIUS ROD,722.716617
4,Regular,"11.8720,79.6320","11.8720,79.6320",240.0,32 FT Multi-Axle 14MT - HCV,WISHBONE / V ROD/HDT,789.035450
5,Regular,"12.8390,79.9540","12.8390,79.9540",70.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,672.189217
6,Regular,"12.8390,79.9540","12.8390,79.9540",931.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,918.441333
7,Regular,"12.8390,79.9540","12.8390,79.9540",20.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,207.128783
8,Market,"13.2150,80.3200","12.7660,77.7860",310.0,24 FT SXL Container,MOUNTING BRACKET / FUEL TANK,321.818000
9,Regular,"12.8390,79.9540","12.8390,79.9540",103.0,32 FT Multi-Axle MXL 18MT,MOUNTING BRACKET / FUEL TANK,859.111950

In [148]:
df['vehicleType'].unique()

array(['32 FT Single-Axle 7MT - HCV', '32 FT Multi-Axle 14MT - HCV',
       '1 MT Tata Ace (Open Body)', '24 FT SXL Container',
       '32 FT Multi-Axle MXL 18MT', '19 FT OPEN BODY 8 MT',
       '17 FT Container', '20 FT SXL Container',
       '1 MT Tata Ace (Closed Body)', '19 FT Open 7MT - MCV',
       '1.5 MT Pickup (Open Body)', '22 FT Taurus Open 16MT - HCV',
       '40 FT 3XL Trailer 35MT',
       '40 FT Flat Bed Multi-Axle 27MT - Trailer', nan,
       '20 FT CLOSE 7MT-MCV ', '14 FT Open - 3 MT',
       '1.5 MT Vehicle (Closed Body)',
       '24 / 26 FT Taurus Open 21MT - HCV',
       '32 FT Closed Container 15 MT', '20 FT Open 9MT - MCV',
       '40 FT Flat Bed Double-Axle 21MT - Trailer', '19 FT SXL Container',
       '17 FT Open 5MT - MCV', '22 FT Closed Container',
       'Mahindra LCV 1MT', '22 FT Open Body 16MT', '25 FT Open Body 21MT',
       '30 FT Open SXL 30MT', '26 FT Taurus Open 27MT - HCV',
       '32 FT Open Tarus', 'Tata 407 Open 2MT - Mini-LCV',
       '15 FT Single-Axle 7.2MT (8.5 H) Container - HCV',
       '20 FT Closed  Container 8MT', 'Tata 407 / 14 FT Open 3MT LCV',
       '30 FT Open MXL 30MT', '37 FT Trailer (Open)',
       '24 / 26 FT  Closed Container  20MT - HCV', '28 FT Open Body 25MT',
       '40 FT Flat Bed Single-Axle 20MT - Trailer',
       '27 FT Open Body 21MT', '25 FT Closed Body 20MT',
       '24 | 26 FT Taurus Open 21MT - HCV', '31 FT Open Body 18MT',
       '50 FT Flat Bed 30MT - Trailer'], dtype=object)

In [149]:
df.isnull().sum()

Market/Regular                     0
Org_lat_lon                        0
Des_lat_lon                        0
TRANSPORTATION_DISTANCE_IN_KM    708
vehicleType                      769
Material Shipped                   0
trip_duration                      0
dtype: int64

In [150]:
df['trip_duration'].head(3)

0    15819.057450
1     1224.416783
2     1326.446550
Name: trip_duration, dtype: float64

In [151]:
df=df.dropna(subset=['vehicleType'])

In [152]:
df.isna().sum()

Market/Regular                     0
Org_lat_lon                        0
Des_lat_lon                        0
TRANSPORTATION_DISTANCE_IN_KM    708
vehicleType                        0
Material Shipped                   0
trip_duration                      0
dtype: int64

In [103]:
df.shape

(6074, 5)

In [104]:
df['vehicleType'].unique()

array(['32 FT Single-Axle 7MT - HCV', '32 FT Multi-Axle 14MT - HCV',
       '1 MT Tata Ace (Open Body)', '24 FT SXL Container',
       '32 FT Multi-Axle MXL 18MT', '19 FT OPEN BODY 8 MT',
       '17 FT Container', '20 FT SXL Container',
       '1 MT Tata Ace (Closed Body)', '19 FT Open 7MT - MCV',
       '1.5 MT Pickup (Open Body)', '22 FT Taurus Open 16MT - HCV',
       '40 FT 3XL Trailer 35MT',
       '40 FT Flat Bed Multi-Axle 27MT - Trailer', '20 FT CLOSE 7MT-MCV ',
       '14 FT Open - 3 MT', '1.5 MT Vehicle (Closed Body)',
       '24 / 26 FT Taurus Open 21MT - HCV',
       '32 FT Closed Container 15 MT', '20 FT Open 9MT - MCV',
       '40 FT Flat Bed Double-Axle 21MT - Trailer', '19 FT SXL Container',
       '17 FT Open 5MT - MCV', '22 FT Closed Container',
       'Mahindra LCV 1MT', '22 FT Open Body 16MT', '25 FT Open Body 21MT',
       '30 FT Open SXL 30MT', '26 FT Taurus Open 27MT - HCV',
       '32 FT Open Tarus', 'Tata 407 Open 2MT - Mini-LCV',
       '15 FT Single-Axle 7.2MT (8.5 H) Container - HCV',
       '20 FT Closed  Container 8MT', 'Tata 407 / 14 FT Open 3MT LCV',
       '30 FT Open MXL 30MT', '37 FT Trailer (Open)',
       '24 / 26 FT  Closed Container  20MT - HCV', '28 FT Open Body 25MT',
       '40 FT Flat Bed Single-Axle 20MT - Trailer',
       '27 FT Open Body 21MT', '25 FT Closed Body 20MT',
       '24 | 26 FT Taurus Open 21MT - HCV', '31 FT Open Body 18MT',
       '50 FT Flat Bed 30MT - Trailer'], dtype=object)

In [153]:
import pandas as pd

# 1️⃣ Create the DataFrame correctly
df_new = pd.DataFrame({
    'vehicleType': [
        '32 FT Single-Axle 7MT - HCV', '32 FT Multi-Axle 14MT - HCV',
        '1 MT Tata Ace (Open Body)', '24 FT SXL Container',
        '32 FT Multi-Axle MXL 18MT', '19 FT OPEN BODY 8 MT',
        '17 FT Container', '20 FT SXL Container',
        '1 MT Tata Ace (Closed Body)', '19 FT Open 7MT - MCV',
        '1.5 MT Pickup (Open Body)', '22 FT Taurus Open 16MT - HCV',
        '40 FT 3XL Trailer 35MT',
        '40 FT Flat Bed Multi-Axle 27MT - Trailer', '20 FT CLOSE 7MT-MCV ',
        '14 FT Open - 3 MT', '1.5 MT Vehicle (Closed Body)',
        '24 / 26 FT Taurus Open 21MT - HCV',
        '32 FT Closed Container 15 MT', '20 FT Open 9MT - MCV',
        '40 FT Flat Bed Double-Axle 21MT - Trailer', '19 FT SXL Container',
        '17 FT Open 5MT - MCV', '22 FT Closed Container',
        'Mahindra LCV 1MT', '22 FT Open Body 16MT', '25 FT Open Body 21MT',
        '30 FT Open SXL 30MT', '26 FT Taurus Open 27MT - HCV',
        '32 FT Open Tarus', 'Tata 407 Open 2MT - Mini-LCV',
        '15 FT Single-Axle 7.2MT (8.5 H) Container - HCV',
        '20 FT Closed  Container 8MT', 'Tata 407 / 14 FT Open 3MT LCV',
        '30 FT Open MXL 30MT', '37 FT Trailer (Open)',
        '24 / 26 FT  Closed Container  20MT - HCV', '28 FT Open Body 25MT',
        '40 FT Flat Bed Single-Axle 20MT - Trailer',
        '27 FT Open Body 21MT', '25 FT Closed Body 20MT',
        '24 | 26 FT Taurus Open 21MT - HCV', '31 FT Open Body 18MT',
        '50 FT Flat Bed 30MT - Trailer'
    ]
})

# 2️⃣ Define mapping of unique vehicle types to common categories
vehicle_mapping = {
    '32 FT Single-Axle 7MT - HCV': 'HCV',
    '32 FT Multi-Axle 14MT - HCV': 'HCV',
    '1 MT Tata Ace (Open Body)': 'Mini LCV',
    '1 MT Tata Ace (Closed Body)': 'Mini LCV',
    '1.5 MT Pickup (Open Body)': 'Pickup',
    '1.5 MT Vehicle (Closed Body)': 'Pickup',
    '19 FT Open 7MT - MCV': 'MCV',
    '19 FT OPEN BODY 8 MT': 'MCV',
    '20 FT Open 9MT - MCV': 'MCV',
    '20 FT CLOSE 7MT-MCV ': 'MCV',
    '22 FT Taurus Open 16MT - HCV': 'HCV',
    '22 FT Open Body 16MT': 'HCV',
    '22 FT Closed Container': 'HCV',
    '24 FT SXL Container': 'HCV',
    '24 / 26 FT Taurus Open 21MT - HCV': 'HCV',
    '24 / 26 FT  Closed Container  20MT - HCV': 'HCV',
    '25 FT Open Body 21MT': 'HCV',
    '25 FT Closed Body 20MT': 'HCV',
    '26 FT Taurus Open 27MT - HCV': 'HCV',
    '27 FT Open Body 21MT': 'HCV',
    '30 FT Open SXL 30MT': 'HCV',
    '30 FT Open MXL 30MT': 'HCV',
    '31 FT Open Body 18MT': 'HCV',
    '32 FT Multi-Axle MXL 18MT': 'HCV',
    '32 FT Open Tarus': 'HCV',
    '32 FT Closed Container 15 MT': 'HCV',
    '37 FT Trailer (Open)': 'Trailer',
    '40 FT 3XL Trailer 35MT': 'Trailer',
    '40 FT Flat Bed Multi-Axle 27MT - Trailer': 'Trailer',
    '40 FT Flat Bed Double-Axle 21MT - Trailer': 'Trailer',
    '40 FT Flat Bed Single-Axle 20MT - Trailer': 'Trailer',
    '14 FT Open - 3 MT': 'Light Vehicle',
    '15 FT Single-Axle 7.2MT (8.5 H) Container - HCV': 'HCV',
    '17 FT Container': 'HCV',
    '17 FT Open 5MT - MCV': 'MCV',
    '19 FT SXL Container': 'HCV',
    '28 FT Open Body 25MT': 'HCV',
    'Mahindra LCV 1MT': 'Mini LCV',
    'Tata 407 Open 2MT - Mini-LCV': 'Mini LCV',
    'Tata 407 / 14 FT Open 3MT LCV': 'Mini LCV',
    '50 FT Flat Bed 30MT - Trailer': 'Trailer'
}

# 3️⃣ Apply mapping to create a new standardized vehicle type column
df['vehicleType_standard'] = df['vehicleType'].map(vehicle_mapping)

# 4️⃣ Optional: fill unmapped values with 'Other' if needed
df['vehicleType_standard'] = df['vehicleType_standard'].fillna('Other')

# 5️⃣ Display the DataFrame
print(df_new)

                                        vehicleType
0                       32 FT Single-Axle 7MT - HCV
1                       32 FT Multi-Axle 14MT - HCV
2                         1 MT Tata Ace (Open Body)
3                               24 FT SXL Container
4                         32 FT Multi-Axle MXL 18MT
5                              19 FT OPEN BODY 8 MT
6                                   17 FT Container
7                               20 FT SXL Container
8                       1 MT Tata Ace (Closed Body)
9                              19 FT Open 7MT - MCV
10                        1.5 MT Pickup (Open Body)
11                     22 FT Taurus Open 16MT - HCV
12                           40 FT 3XL Trailer 35MT
13         40 FT Flat Bed Multi-Axle 27MT - Trailer
14                             20 FT CLOSE 7MT-MCV
15                                14 FT Open - 3 MT
16                     1.5 MT Vehicle (Closed Body)
17                24 / 26 FT Taurus Open 21MT - HCV
18                     32 FT Closed Container 15 MT
19                             20 FT Open 9MT - MCV
20        40 FT Flat Bed Double-Axle 21MT - Trailer
21                              19 FT SXL Container
22                             17 FT Open 5MT - MCV
23                           22 FT Closed Container
24                                 Mahindra LCV 1MT
25                             22 FT Open Body 16MT
26                             25 FT Open Body 21MT
27                              30 FT Open SXL 30MT
28                     26 FT Taurus Open 27MT - HCV
29                                 32 FT Open Tarus
30                     Tata 407 Open 2MT - Mini-LCV
31  15 FT Single-Axle 7.2MT (8.5 H) Container - HCV
32                      20 FT Closed  Container 8MT
33                    Tata 407 / 14 FT Open 3MT LCV
34                              30 FT Open MXL 30MT
35                             37 FT Trailer (Open)
36         24 / 26 FT  Closed Container  20MT - HCV
37                             28 FT Open Body 25MT
38        40 FT Flat Bed Single-Axle 20MT - Trailer
39                             27 FT Open Body 21MT
40                           25 FT Closed Body 20MT
41                24 | 26 FT Taurus Open 21MT - HCV
42                             31 FT Open Body 18MT
43                    50 FT Flat Bed 30MT - Trailer

In [154]:
df['vehicleType_standard'].shape

(6074,)

In [155]:
df.isnull().sum()

Market/Regular                     0
Org_lat_lon                        0
Des_lat_lon                        0
TRANSPORTATION_DISTANCE_IN_KM    708
vehicleType                        0
Material Shipped                   0
trip_duration                      0
vehicleType_standard               0
dtype: int64

In [156]:
df.head(10)

,Market/Regular,Org_lat_lon,Des_lat_lon,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Material Shipped,trip_duration,vehicleType_standard
0,Market,"13.1550,80.1960","12.7400,77.8200",320.0,32 FT Single-Axle 7MT - HCV,BRACKET / GRAB HANDLE,15819.057450,HCV
1,Regular,"12.8390,79.9540","12.8390,79.9540",103.0,32 FT Multi-Axle 14MT - HCV,ZB MODEL PLATE / 3143,1224.416783,HCV
2,Regular,"11.8710,79.7390","11.8710,79.7390",300.0,1 MT Tata Ace (Open Body),LETTERING / FUSO,1326.446550,Mini LCV
3,Regular,"12.8390,79.9540","12.8390,79.9540",61.0,32 FT Multi-Axle 14MT - HCV,LU STRUT RA / RADIUS ROD,722.716617,HCV
4,Regular,"11.8720,79.6320","11.8720,79.6320",240.0,32 FT Multi-Axle 14MT - HCV,WISHBONE / V ROD/HDT,789.035450,HCV
5,Regular,"12.8390,79.9540","12.8390,79.9540",70.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,672.189217,HCV
6,Regular,"12.8390,79.9540","12.8390,79.9540",931.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,918.441333,HCV
7,Regular,"12.8390,79.9540","12.8390,79.9540",20.0,32 FT Multi-Axle 14MT - HCV,MOUNTING BRACKET / FUEL TANK,207.128783,HCV
8,Market,"13.2150,80.3200","12.7660,77.7860",310.0,24 FT SXL Container,MOUNTING BRACKET / FUEL TANK,321.818000,HCV
9,Regular,"12.8390,79.9540","12.8390,79.9540",103.0,32 FT Multi-Axle MXL 18MT,MOUNTING BRACKET / FUEL TANK,859.111950,HCV

In [157]:
df= df.drop(['vehicleType'], axis=1)

In [158]:
df.isnull().sum()

Market/Regular                     0
Org_lat_lon                        0
Des_lat_lon                        0
TRANSPORTATION_DISTANCE_IN_KM    708
Material Shipped                   0
trip_duration                      0
vehicleType_standard               0
dtype: int64

In [159]:
df.shape

(6074, 7)

In [ ]:
df.fillna()